#error {
    background-color: #ebf3ff;
    padding: 2rem 0;
    min-height: 100vh
}

#error .img-error {
    height: 435px;
    object-fit: contain;
    padding: 3rem 0
}

#error .error-title {
    font-size: 3rem;
    margin-top: 1rem
}

html[data-bs-theme=dark] #error {
    background-color: #151521
}
